div {
    display:inline-block;
    vertical-align: top;
}

.sheet-base {
    border: 1px dotted black;
}

.sheet-flextop {
    display:flex;
    flex-direction:row;
}

.sheet-onglet{
    text-align:center;
    vertical-align:top;
    color:white;
    background-color:black;
    flex:1;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-arcane,
.sheet-fencing,
.sheet-ship,
.sheet-crew {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="arcane"] ~ div.sheet-arcane,
.sheet-tabstoggle[value="fencing"] ~ div.sheet-fencing,
.sheet-tabstoggle[value="ship"] ~ div.sheet-ship,
.sheet-tabstoggle[value="crew"] ~ div.sheet-crew {
	display: block;
}

p {
    margin:0;
    width:100px;
    display: inline-block;
}

.sheet-roue {
    background-image:url('https://i62.servimg.com/u/f62/13/24/51/43/roueat12.png');
    background-repeat:no-repeat;
    background-position:49.5% 47%;
}

.sheet-crewbackground {
    background-image:url('https://www.zupimages.net/up/21/01/5lp4.png');
    background-size: 500px 400px;
    background-repeat: no-repeat;
    background-position:49.5% 47%;
    width: 500px;
    height: 400px;
    border-style: none;
    background-color: transparent;
}

.sheet-infos input[type="text"] {
    display: inline-block;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
    box-shadow:none;
    vertical-align:text-bottom;
    padding:0;
}

.charsheet input[type="text"].sheet-infos {
    display: inline-block;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
    box-shadow:none;
    vertical-align:text-bottom;
    padding:0;
}

.charsheet input[type="text"] {
    display: inline-block;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
    box-shadow:none;
}

textarea {
    width:97%;
    resize:vertical;
    height:60px;
    border:none;
    vertical-align:text-bottom;
    box-shadow:none;
    background:#eeeeee;
}

.sheet-comp p {
    width:51.5%;
}

.charsheet p.sheet-titre {
    text-align:center;
}

.sheet-comp input[type="text"] {
    display: inline-block;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
    box-shadow:none;
}

.sheet-carac p {
    width:82%;
}

.sheet-carac p.sheet-titre {
    text-align:center;
}

.sheet-carac input[type="text"] {
    display: inline-block;
    background:transparent;
    border:none;
    border-bottom:1px solid black;
    box-shadow:none;
}

.sheet-attrib p {
    width:32.5%;
    text-align:center;
    margin: 7px 0px;
    font-weight:bold;
}

.sheet-attrib div {
    width:100%;
    text-align:center;
}

.charsheet p.sheet-titre {
    color: white;
    font-weight: bold;
    background:black;
    line-height:25px;
    width:100%;
}

.charsheet p.sheet-soustitre {
    text-align:center;
    font-weight: bold;
    line-height:25px;
    width:100%;
}

.sheet-sante div {
    width:16%;
    text-align:center;
}

.sheet-sante p {
    width:100%;
    text-align:center;
}

.sheet-localisation div {
    width:100%;
}

.sheet-local div {
    width:12%;
    text-align:center;
}

.sheet-local p {
    width:100%;
}

.sheet-local input[type="text"] {
    width:40%;
}

.sheet-armes p {
    text-align:center;
    vertical-align:middle;
}

.sheet-arme input[type="text"] {
    border-right:1px black dotted;
}

.sheet-pouvoir p {
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
}

.sheet-manoeuvres p {
    text-align:center;
    vertical-align:middle;
}

.sheet-manoeuvre input[type="text"] {
    border-right:1px black dotted;
}

.sheet-typesescrimes p {
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
}

.sheet-typesescrime p {
    text-align:center;
    vertical-align:middle;
}

.sheet-carteescrimemode input[type="radio"] {
    align-items: center;
}

.sheet-carteescrimemode p {
    text-align:center;
    vertical-align:middle;
}

.sheet-traiteescrime p {
    text-align:center;
    vertical-align:middle;
}

.sheet-legende p {
    text-align:center;
    vertical-align:middle;
    font-weight: bold;
}

.sheet-valeurs p {
    text-align:center;
    vertical-align:middle;
}

.sheet-santeequipage div {
    width:18%;
    text-align:center;
}

.sheet-santeequipage p {
    width:100%;
    text-align:center;
}

.sheet-ligne div {
    width:100%;
    text-align:center;
}

.sheet-flexcolonne {
    display:inline flex;
    flex-direction:column;
    border-right:1px black dotted;
}

.sheet-section {
    border-bottom:1px black dotted;
    flex:1;
}

.sheet-repitem,
.repitem,
.repcontainer,
.sheet-repcontainer{
    width:100%;
}

.charsheet button[type="roll"].sheet-roll::before {
    content: "";
    font-size:10px;
}

.charsheet button[type="roll"].sheet-roll {
    text-decoration:none;
    border:none;
    background:none;
    border:none;
    box-shadow:none;
    font-size:13px;
    padding:0;
    font-weight:bold;
}

.charsheet button[type="roll"].sheet-roll2::before {
    content: "";
}

.charsheet button[type="roll"].sheet-roll2 {
    text-decoration:none;
    border:none;
    background:none;
    border:none;
    box-shadow:none;
    font-size:13px;
    padding:0;
    text-align:left;
    margin:0;
    vertical-align:baseline;
}

.charsheet button[type="roll"].sheet-roll3 {
    text-decoration:none;
    border:none;
    background:none;
    border:none;
    box-shadow:none;
}

.charsheet input[type="number"] {
    text-align:center;
    -moz-appearance: textfield !important;
	-moz-padding-end: .5em;
	padding-inline-end: .5em; /* moz changes to this */
}

.charsheet input[type="number"].sheet-exp {
    background-color: rgba(224, 224, 224, 0.5);
    text-align:center;
    -moz-appearance: textfield !important;
	-moz-padding-end: .5em;
	padding-inline-end: .5em; /* moz changes to this */
}

.charsheet input[type="number"].sheet-total {
    background-color: rgba(224, 224, 224, 0.5);
    text-align:center;
    -moz-appearance: textfield !important;
	-moz-padding-end: .5em;
	padding-inline-end: .5em; /* moz changes to this */
}

.sheet-rolltemplate-simpletest table {
    width: 189px;
    height: 189px;
    padding: 2px;
    background: url(https://svgsilh.com/png/1296177-9e9e9e.png) top left;
    background-size: 189px 189px;
    background-repeat: no-repeat;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    border-spacing: 0;
}

.sheet-rolltemplate-simpletest th {
	color: rgb(112, 0, 0);
    padding: 15px 2px 2px 20px;
	line-height: 1.2em;
	font-size: 1.2em;
    text-align: c;
}


.sheet-rolltemplate-simpletest td {
    padding-left: 20px;
    font-size: 1.0em;
    vertical-align: top;
}

.sheet-rolltemplate-simpletest .sheet-result {
    font-size: 1.2em;
    text-align: center;
    color: rgb(112, 0, 0);
    padding-bottom: 20px;
}

.sheet-rolltemplate-simpletest .inlinerollresult  {
    background-color: transparent;
    color: #000000;
    border: none;
}

.sheet-rolltemplate-simpletest .inlinerollresult.fullcrit {
   color: #3FB315;
    border: none;
}

.sheet-rolltemplate-simpletest .inlinerollresult.fullfail {
    color: #000000;
    border: none;
}

.sheet-rolltemplate-simpletest .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}
